* {
    margin:0;
    padding:0;
}
.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: cornflowerblue;
    width:100vw;
    height: 100vh;
}
.joke-button {
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    border: none;
    width:300px;
    height: 50px;
    margin:20px;
    font-size: 24px;
}
.joke {
    padding:0 20% 0 20%;
    text-align: center;
    color: antiquewhite;
}